* {
    margin: 0 auto;
    font-family: Helvetica;
    box-sizing: border-box;
}
:root{
    --notch-size : 0.5em;
    --border-size : 0.1em;
    --border-pos-adjust : calc(0.41 * var(--border-size));
}
.align-end{
    align-items: end;
}
.justify-stretch{
    justify-content: stretch;
}

.justify-end{
    justify-content: flex-end;
}

.justify-sb{
    justify-content: space-between;
}

.justify-sa{
    justify-content: space-around;
}

.text-center{
    text-align: center;
}

.row{
    display: flex;
    flex-direction:row;
    gap: 0.5rem;
}
.container{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    padding: 0.5rem;
    margin-top: 5px;
    width:800px;
    border:dotted 1px gray;
    --s: 45px; /* control the size*/
    --c1: #eee;
    --c2: #e8e8e8;
    /*--c2: rgb(205,225,234);*/

    --c:#0000,var(--c1) .5deg 119.5deg,#0000 120deg;
    --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
    --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
    --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
    background:
            var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
            var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
            var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s))
            var(--c2);
    background-size: calc(2*var(--s)) calc(3.46*var(--s));
}

.col{
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}
.nogap{
    gap:0;
}
.col-1{
    width:8.33%;
}
.col-2{
    width:16.66%;
}
.col-3{
    width:25%;
}
.col-4{
    width: 33%;
}
.col-5{
    width: 41.65%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width:66%;
}
.col-9{
    width:75%;
}
.col-10{
    width:83.33%;
}
.col-12{
    width:100%;
}


.derivated,
.passive-info,
.panel,
.hp-container,
.pc-attribute{
    --path:
            0 var(--notch-size),
            var(--notch-size) 0,
            calc(100% - var(--notch-size)) 0,
            100% var(--notch-size),
            100% calc(100% - var(--notch-size)),
            calc(100% - var(--notch-size)) 100%,
            var(--notch-size) 100% ,
            0 calc(100% - var(--notch-size));

    background: white;
    position : relative;
    display: flex;
    flex-direction : column;
    clip-path: polygon(var(--path));
}
.panel{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: var(--notch-size);
}
.hp-container:before,
.derivated:before,
.passive-info:before,
.panel:before,
.pc-attribute:before {
    --path-border:
            0 var(--notch-size),
            var(--notch-size) 0,
            calc(100% - var(--notch-size)) 0,
            100% var(--notch-size),
            100% calc(100% - var(--notch-size)),
            calc(100% - var(--notch-size)) 100%,
            var(--notch-size) 100%,
            0 calc(100% - var(--notch-size)),
            0 var(--notch-size),
            var(--border-size) calc(var(--notch-size) + var(--border-pos-adjust) ),
            var(--border-size) calc(100% - var(--notch-size) - var(--border-pos-adjust)),
            calc(var(--notch-size) + var(--border-pos-adjust)) calc(100% - var(--border-size)),
            calc(100% - var(--notch-size) - var(--border-pos-adjust)) calc(100% - var(--border-size)),
            calc(100% - var(--border-size)) calc(100% - var(--notch-size) - var(--border-pos-adjust)),
            calc(100% - var(--border-size)) calc(var(--notch-size) + var(--border-pos-adjust)),
            calc(100% - var(--notch-size) - var(--border-pos-adjust)) var(--border-size),
            calc(var(--notch-size) + var(--border-pos-adjust)) var(--border-size),var(--border-size) calc(var(--notch-size) + var(--border-pos-adjust));
    content: "";
    position: absolute;
    background: black;
    inset: 0;
    clip-path: polygon(var(--path-border));
    z-index:1;
}

.panel .bottom-title,
.derivated .bottom-title,
.panel .title,
.pc-attribute label{
    --path :
            0 0,
            0 50%,
            var(--notch-size) 100%,
            calc(100% - var(--notch-size)) 100%,
            100% 50%,
            100% 0
;
    /*calc(var(--notch-size) /2 ) 50%,
     calc(var(--notch-size) ) 0,
     calc(100% - var(--notch-size)) 0,
     calc(100% - (var(--notch-size) / 2)) 50%,
     calc(100% - var(--notch-size) ) 100%,
     calc(var(--notch-size)) 100%;*/
    width:100%;
    text-align : center;
    color : white;
    padding-top: 0.1rem;
    font-weight: bolder;
    /*background: #440101; RED BG*/
    background-color: #354456;
    clip-path: polygon(var(--path));
    font-size: 0.8rem;
}
.derivated{
    gap:0;
}

.panel .bottom-title,
.derivated .bottom-title{
    --path :
            0 100%,
            0 50%,
            var(--notch-size) 0,
            calc(100% - var(--notch-size)) 0,
            100% 50%,
            100% 100%
;
    height: 1.3rem;
    padding : 0.2rem;
}

.pc-attribute .pc-attribute-modifier{
    border:none;
    margin-top:0.1em;
    margin-bottom:0.1em;
    font-size:1.4rem;
    padding:0;
    color: #black;
    text-align: center;
    width:100%;
}
.pc-attribute .pc-attribute-score{
    --notch-size: 0.25em;
    margin:0;
    padding:0;
    width:100%;
    text-align : center;
    /*color : white;*/
    background-color: #ddd;
    /*background: #91CFE9; BLUE BG*/
    border:none;
}
.derivated input{
    border:none;
    margin-top:0.4rem;
    margin-bottom:0.1em;
    font-size:1.4rem;
    padding:0;
    color: #black;
    text-align: center;
    width:100%;
}
.passive-info{
    padding:0;
    width:100%;
    flex-direction: row;
}
.passive-info:before{
    background-color: #354456;
}

.passive-info label{
    width: 75%;
    text-align: right;
    font-weight: bold;
    font-size: 0.85rem;
    color: white;
    padding: 0.15rem;
    padding-right: 0.5rem;
    background-color: #354456;
    /*background: black;*/
}

.passive-info span{
    width: 25%;
    align-items: center;
    padding: 0.1rem;
    justify-content: center;
    display:flex;
}
.passive-info span.proficiency-bonus{
    width: calc(25% - 0.5rem);
    margin-right:0.5rem;
}


.skills label,
.saving-throws label{
    font-size: 0.7rem;
    font-weight: bold;
}
label span.gray{
    color: gray;
}

.hp-container .row input{
    width:3.2rem;
    border:none;
    padding-left: 1rem;
}
.hp-container .row input:first-of-type{
    text-align: center;
    padding-left : 0;
}
.hp-container .row:not(:last-child){
    border-bottom: calc(var(--border-size)*1.5) solid black;
}
.hp-container .row label{
    /*background: black;*/
    background-color: #354456;
    boder-color: #354456;
    color:white;
    font-weight:bold;
    text-align: right;
    font-size: 0.75rem;
    width: 7rem;
    padding: 0.2rem;
    padding-left: 0.4rem;
    margin:0;
}

.hp-container .row .separator{
    --path : 0 0,
    75% 100%,
    100% 100%,
    25% 0
;
    background-color:black;
    background-color: #354456;
    width: 0.9rem;
    clip-path: polygon(var(--path));
}

.hp-container .row.hp-temporary-line{
    border-color:#354456;
}
.hp-container .hit-dice-line .separator{
    background:#354456;

}
.hp-container .hit-dice-line label,
.hp-container .hp-temporary-line label{
    font-size:0.65rem;
    background:#354456;
}

.death-saves{
    align-item: flex-start;
    gap:0;
}
.death-saves .successes,
.death-saves .failures{
    gap: 0.1rem;
}

.death-saves .successes label{
    width:100%;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(53,68,86,0.9864320728291317) 100%);
    font-size: 0.75rem;
    color: white;
    text-align: right;
    padding-right:0.2rem;
    font-weight: bold;
}
.death-saves .failures label{
    width:100%;
    background: linear-gradient(90deg, rgba(53,68,86,0.9864320728291317) 0%,rgba(0,0,0,0) 100%);
    font-size: 0.75rem;
    color: white;
    text-align: left;
    padding-left:0.2rem;
    font-weight: bold;
}
.death-saves .successes .row{
    width:100%;
    justify-content: flex-end;
    padding-right: 0.7rem;
    gap: 0.5rem;
}
.death-saves .failures .row{
    width:100%;
    justify-content: flex-start;
    padding-left: 0.7rem;
    gap: 0.5rem;
}
.death-saves .row input{
    margin: 0;
}
.death-saves .separator{
    --path: 0 0,
    100% 0,
    100% calc(100% - var(--notch-size) * 3),
    50% 100%,
    0 calc(100% - var(--notch-size) * 3);
    color :white;
    padding: 0.2rem;
    padding-bottom: calc( var(--notch-size) * 3);
    background:#354456;
    font-size : 0.75rem;
    font-weight: bold;
    text-align: center;
    clip-path: polygon(var(--path));
}

div.transparent-panel{
    background-color: rgba(255,255,255,0.7);
}
.title-yellow{
    width: calc(100%+2rem);
    padding : 0.2Rem;
    text-align : center;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0 -.1rem;;
    background-color: #354456;
    color : white;
    /*background-color: #FFF7D7;*/
}
.trait,
.personality-content{
    font-size:0.8rem;
    margin: 0.2rem .3rem 0.3rem;
    background-color:white;
    padding : 0.15rem;
}
.trait{
    --path:
            0 0,
            calc(100% - (var(--notch-size) * 2)) 0,
            100% calc(var(--notch-size) *2),
            100% 100%,
            calc(var(--notch-size) *2) 100%,
            0 calc(100% - (var(--notch-size) * 2));
    display:flex;
    flex-direction: column;
    gap:0.1rem;
    padding: 0.2rem;
    padding-bottom: calc(var(--notch-size) * 2);
    justify-content:flex-start;
    clip-path: polygon(var(--path));
}
.trait .trait-title{
    width: 100%;
    font-weight:bold;
    text-align:left;
}
.light-panel{
    --path:
            0 0,
            calc(100% - (var(--notch-size) * 2)) 0,
            100% calc(var(--notch-size) *2),
            100% 100%,
            calc(var(--notch-size) *2) 100%,
            0 calc(100% - (var(--notch-size) * 2));
    width:100%;
    background: rgba(255,255,255,0.7);
    padding: 0.5rem ;
    padding-bottom: 0.75rem;
    position : relative;
    display: flex;
    flex-direction : column;
    gap:0.25rem;
    clip-path: polygon(var(--path));
}
.light-panel .title{
    --path: 0 0,
    100% 0,
    100% calc(100% - (var(--notch-size) * 1.5)),
    calc(100% - (var(--notch-size) * 1.5 )) 100%,
    0 100%
;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    margin-bottom : 0.25rem;
    padding:0.2rem;
    padding-right:0.65rem;
    text-align:center;
    color:white;
    font-size: 0.8rem;
    font-weight: bold;
    background: #354456;
    clip-path: polygon(var(--path));
}

.proficiencies div.row{
    gap: 0.25rem;
}
.proficiencies .row .total-col{
    text-align:right;
    padding-right:.2rem;
    background: none;
    font-weight:bold; "
}

.proficiencies .row div,
.proficiencies .header-row label{
    font-size: 0.75rem;
    padding-left : 0.5rem;
    margin:0;
}

.proficiencies .header-row label{
    font-weight: bold;
}

.proficiencies .row div.text-center,
.proficiencies .header-row label.text-center{
    padding-left : 0;
}

.proficiencies .row div{
    --path:
            0 0,
            calc(100% - (var(--notch-size))) 0,
            100% calc(var(--notch-size) ),
            100% 100%,
            calc(var(--notch-size) ) 100%,
            0 calc(100% - (var(--notch-size) ));
    background: white;
    clip-path: polygon(var(--path));
}

.button{
    border:none;
    background-color: #bbb;
    position: relative;
    padding: 0.2rem 0.7rem;
    min-width: 5rem;
    font-size : 0.85rem;
    font-weight: bold;
    --path: 0 50%,
    var(--notch-size) 0,
    calc(100% - (var(--notch-size))) 0,
    100% 50%,
    calc(100% - (var(--notch-size))) 100%,
    var(--notch-size) 100%;
    clip-path: polygon(var(--path));
    margin:0;
}
.button:before{
    --path: var(--notch-size) 100%,
    0 50%,
    var(--notch-size) 0,
    calc(100% - var(--notch-size) ) 0,
    calc(100% - var(--notch-size) - var(--border-pos-adjust) ) var(--border-size),
    calc(var(--notch-size) + var(--border-pos-adjust) ) var(--border-size),
    var(--border-size) 50%,
    calc(var(--notch-size) + var(--border-pos-adjust) ) calc( 100% - var(--border-size) );
    clip-path: polygon(var(--path));
    width:100%;
    content: "";
    position: absolute;
    inset: 0;
    z-index:2;
    background: #eee;
}
.button:after{
    --path: var(--notch-size) 100%,
    calc(100% - var(--notch-size) ) 100%,
    100% 50%,
    calc( 100% - var(--notch-size) ) 0,
    calc(100% - var(--notch-size) - var(--border-pos-adjust) ) var(--border-size),
    calc( 100% - var(--border-size) ) 50%,
    calc(100% - var(--notch-size) - var(--border-pos-adjust) ) calc( 100% - var(--border-size)),
    calc( var(--notch-size) + var(--border-pos-adjust) ) calc( 100% - var(--border-size))
;
    clip-path: polygon(var(--path));
    width:100%;
    content: "";
    position: absolute;
    inset: 0;
    z-index:1;
    background: #aaa;
}
.button.selected{
    color: white;;
    background-color: #354456;
    /*background: #440101;*/
}
.button.selected:before{
    background: #354456;
}
.button.selected:after{
    background: #354456;
}
.top-input-line{
    padding: 0.1rem 0.2rem;
}
.top-input{
    width:100%;
    border:none;
    border-bottom: #ddd 1px solid;
    padding: 0.1rem 0.2rem;
}
.top-input-label{
    color: #555;
    font-size:0.8rem;
    width:100%;
    text-align: left;
    padding-left: 0.2rem;
}
.name{
    align-self : flex-end;
    margin: 0;
    width: calc(100%+2rem);
    margin-right: -2rem;
    padding-top :0.4rem;
    padding-bottom : 0.2Rem;
    padding-left : 0.6rem;
    gap:0;
}

.hp-panel{
    gap : 0.5rem;
    padding-bottom: 0;
}
.hp-panel .row{
    padding: 0.1rem;
    justify-content:center;
}
.hp-panel .row label{
    width: 60%;
    text-align: right;
    font-size: 0.8rem;
    font-weight: bold;
    vertical-align: center;
    color: #999;
}
.hp-panel .row input{
    width: 40%;
    border : none;
    border-bottom: 1px #ddd solid;
    text-align : center;
}
.hp-panel input.current{
    width : 100%;
    border: none;
    font-size: 2rem;
    text-align: center;
}
.logo{
    margin-top: 0.6rem;
    width:100%;
    height:2.5rem;
    background-image: url("https://sw5e.com/img/sw5e-logo.84b4d7ed.png");
    background-position : calc(100% - 0.6rem) center ;
    background-repeat: no-repeat;
    background-size: contain;
}


.inspiration-token{
    background-repeat: no-repeat;
    background-size: auto 1rem;
    background-position : 40% center;
    background-image: none;
}