/*Backgrounds*/
--color-bg-light: #fff;
--color-bg-alpha: #f8e4c2;
--color-bg-alpha-dark: #f5deb3;
--color-bg-beta: #5a3e2b;

--color-bg-beta-dark: #3e2a1f;
/* Colors */

--color-alpha: #89383c;
--color-alpha-light: #e07375;
--color-alpha-dark: #74292b;
--color-beta:;
--color-gamma: #E87120;

/* Text */
--color-text: black;
